name: Pull request to main branch action
on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]

jobs:
  validation:
    name: Suggested app validation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        fetch-depth: 0

      - name: Setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - run: npm install --global yarn
      - run: yarn install

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v36
        with:
          files: |
            apps/**/app.json

      - name: Validate changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            if [[ $file == *"app.json"* ]]; then
              yarn validate-app $file
            fi
          done
